<div class="jumbotron">
  <div class="container well">
    <form #updatemovie="ngForm">
    <h2>Update movie details</h2>
    <h4>You are changing the details of the movie {{movie?.name}}</h4>
    <h4>
      <label>Movie Name:</label>
      <input type="text" class="form-control" [(ngModel)]="name" name="name" placeholder="enter movie name">
      <br>
      <label>Movie year:</label>
      <input type="text" class="form-control" [(ngModel)]="year" name="year" placeholder="enter movie name">
      <br>
      <label>Movie rating:</label>
      <input type="text" class="form-control" [(ngModel)]="rating" name="rating" placeholder="enter movie name">
      <br>
    </h4>
    <button type="submit" class="btn btn-success" (click)="updateMovie(updatemovie.value)">Update</button>
    <button type="submit" class="btn btn-danger" (click)="cancel()">Cancel</button>
    </form>
  </div>
</div>