<div class="jumbotron">
  <span class="glyphicon glyphicon-user" aria-hidden="true" style="font-size:40px"></span>
  <h2>Movie details</h2>
  <div class="container well" style="background-color:rgba(111, 245, 238, 0.842)">
    <h5>
      <label><b>Movie name:</b> </label> {{movie?.name}}
      <br>
      <label><b>Movie year:</b></label> {{movie?.year}}
      <br>
      <label><b>Movie rating:</b></label> {{movie?.rating}}
      <br>
    </h5>
  </div>
  <button class="btn btn-success" [routerLink]="['/movies']">Back to Movies page</button>
</div>