<div class="jumbotron">
  <table>
    <div class="row">
      <div class="col-2">
  <h2>Movie details</h2>
    <h5>
      <label><b>Movie name:</b> </label> {{movie?.name}}
      <br>
      <label><b>Movie year:</b></label> {{movie?.year}}
      <br>
      <label><b>Movie rating:</b></label> {{movie?.rating}}
      <br>
    </h5>
    </div>
    <div class="col-2">
      <img src="url('.captainamerica.jpg')"/>
    </div>
    </div>
  </table>
  <button class="btn btn-success" [routerLink]="['/movies']">Back to Movies page</button>
</div>